<!DOCTYPE html> <!-----распечатывается 90 символов в ширину и 66 строк в высоту -------->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue</title>
</head> <!-- -->
<body>
  <div id="app">
    <input type="text" v-model="name" />
    <!-- Введенные данные присваиваются переменной name -->
    <h2 v-if="name.length">Hello, {{ transformedName }}</h2><!--Свойство из comp.. -->
    <!-- Если переменная name не пустая, то отображается приветствие.-->
    <ul>
      <li v-for="item in dbs">
        <!-- Перебираем массив dbs на элементы item -->
        <h4>{{ item.title }}</h4> <!-- Выводим данные массива.-->
        <span>({{ item.weight }})</span>
      </li>
    </ul>
    <button @click="handleButtonClick">Click me!</button>
    <!-- Задаёт обработчиком событий соответствующий метод. -->
    <!-- Также можно применить: v-on:click="handleButtonClick" -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <!--    <script src="script.js"></script>-->
  <script>
    const app = new Vue({
      el: '#app', // Элемент с которым vue будет работать.
      data: {
        name: 'Dmitry',
        dbs: [{ title: 'MySQL',     weight: 13 },
              { title: 'MongoDB',   weight: 10 },
              { title: 'Redis',     weight: 1 },
              { title: 'RethinkDB', weight: 3 },
             ], // Массив данных
        },
        methods: { // Аттрибут methods содержит обработчики событий.
          handleButtonClick() {
            const title = prompt('Input title');
            const weight = prompt('Input weight');
            this.dbs.push({ title, weight }); // Добавляем элемент массива.
          }
        },
        // Метод mounted() работающий при загрузке скрипта ( когда приложение монтируется в DOM)
        mounted() {
          alert('mounted');
        },
        // Вычисляемые свойства, которые будут подмешаны к экземпляру Vue.
        computed: { // Методы вычисляются при каждой отрисовке (не злоупотреблять)
          transformedName() {
            return ('Mr.' + name).toUpperCase();
          }
        }
    });
  </script>
</body>
</html>







<!-- Сделаем теперь наш магазинчик на vue-->


<!DOCTYPE html> <!-- Сделаем теперь наш магазинчик на vue-->
<html>
<head>
  <title>Shop</title>
</head>
<body>
  <div id="app">
    <header>
      <input type="text" v-model="searchQuery" class="search-text" />
      <!-- Записываем содержимое в переменную searchQuery -->
      <button class="search-button" @click="handleSearchClick">Поиск</button>
      <button class="cart-button">Корзина</button>
    </header>
    <main>
     <ul>
        <li v-for="item in cart">{{ item.name }} ({{ item.quantity }})<button @click="handleDeleteClick(item)">x</button></li>
      </ul>
      <div>Общая стоимость: {{ total }}</div>
      <products :query="filterValue" @onbuy="handleBuyClick"></products>
      <div class="goods">
        <div v-for="item in filteredItems" class="item"><!-- Шаблон нашего элемента -->
         <!-- Перебираем элементы item из массива filteredItems -->
          <h2>{{item.name}}</h2> 
          <span>{{item.price}}</span>
          <button @click = "handleByClick(item.id)">Buy</button>
          <button @click="handleDeleteClick(item)">x</button>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script>
    const API_URL = 'http://localhost:3000';
    const app = new Vue({ // создаём приложение
      el: '#app',
      data: {
        items: [],
        filteredItems: [],
        searchQuery: '',
        cart: [],
      },
      mounted() {
        fetch(`${API_URL}/products`) //Запрос на список товаров из db.json
          .then(response => response.json()) // Обрабатываем запрос
          .then((items) => {
            this.items = items; // Получаем массив, и присваиваем.
            this.filteredItems = items; // Записываем это же в переменную отфильтрованных
          });
        fetch(`${API_URL}/cart`) //Запрос содержимого корзины
          .then(response => response.json()) 
          .then((items) => {
            this.cart = items; // Получаем массив, и присваиваем.
          });
      },
      computed: {
          total() { // Считаем полную стоимость корзины
            return this.cart.reduce((acc, item) => acc + item.price * item.quantity, 0);
          }
      },
      methods: {
        handleDeleteClick(item) {// Удаление товара из корзины
          if (item.quantity > 1) { //Если товаров больше 1
            fetch(`${API_URL}/cart/${item.id}`, {
              method: 'PATCH',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({ quantity: item.quantity - 1 }),//Меняем свойство
              })
              .then((response) => response.json())
              .then((item) => {
                const itemIdx = this.cart.findIndex((entry) => entry.id === item.id);
                Vue.set(this.cart, itemIdx, item);
              });
          } else { //Если количество равно 1
              fetch(`${API_URL}/cart/${item.id}`, {method: 'DELETE',})
              .then(() => {
                this.cart = this.cart.filter((cartItem) => cartItem.id !== item.id);
                //В корзине остаётся всё, что не этот item
              });
            } 
      },
        handleSearchClick() {
          const regexp = new RegExp(this.searchQuery, 'i'); 
          // Регулярное выражение для поиска
          this.filteredItems = this.items.filter((item) => regexp.test(item.name))
          // Применяем метод filter с функцией проверки с помощью регулярного выражения.
        },
        handleByClick(item) {
          const cartItem = this.cart.find((entry) => entry.id === item.id);
          if (cartItem) { // товар в корзине уже есть, нужно увеличить количество
            fetch(`${API_URL}/cart/${item.id}`, { //Запрос на изменение свойства эл-та
              method: 'PATCH',
              headers: { 'Content-Type': 'application/json', },
              body: JSON.stringify({ quantity: cartItem.quantity + 1 }),
              // Трансформируем в код JSON и изменяем свойство quantity
              })
              .then((response) => response.json())
              .then((item) => {
                const itemIdx = this.cart.findIndex((entry) => entry.id === item.id);
                // Ищем номер товара в корзине
                //this.cart[itemIdx].quantity = item.quantity; Может не работать с Vue
                Vue.set(this.cart, itemIdx, item);//Чтобы Vue перерисовывало страничку.
              // Сказать: обнови массив cart, и по ключу itemIdx положить значение item
                });
              } else { // товара в корзине еще нет, нужно добавить
                  fetch(`${API_URL}/cart`, {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json', },
                    body: JSON.stringify({ ...item, quantity: 1 })
                    // Спред оператор ..., 'весь item и плюс свойство quantity'
                    })
                    .then((response) => response.json())
                    .then((item) => {
                    this.cart.push(item);
                  });
              }
        }//В json-server (на github.com) есть filter? которым можно отбирать корзину по id пользователя. https://github.com/typicode/json-server#filter
      }//Привязка позьзователей объясняется на 36 минуте 6 урока
    })
  </script>
</body>
</html>
